@model project_sem_3.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Your Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="card col-lg-6">
        <h4 class="mt-3 text-center">Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            }
        </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                            [<input type="submit" value="Disable" class="btn btn-link" />]
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                            [<input type="submit" value="Enable" class="btn btn-link" />]
                        </text>
                    }
                }
            </dd>
        </dl>


    </div>
    <div class="col-lg-3"></div>
</div>
